<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">domicube</name>
  <service>
    <type>_http._tcp</type>
    <port>1883</port>
    <txt-record>domicube.topic.face=amiqual4home/hmi/cube/office/1/active_face</txt-record>
    <txt-record>domicube.topic.battery=amiqual4home/hmi/cube/office/1/battery_level</txt-record>
    <txt-record>domicube.topic.dim=amiqual4home/hmi/cube/office/1/dim_value</txt-record>
  </service>
</service-group>

